body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff7e5f;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #feb47b;
}